[submodule "submodules/freetype"]
	path = submodules/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
